.type-written {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;

  & img {
    display: block;
  }

  & > div {
    overflow: hidden;
    box-shadow: 0 0.15rem 0.25rem rgb(0 0 0 / 15%);
  }
}
