.footer {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--gaze-space-50);
  padding-top: var(--gaze-space-30);
  padding-bottom: 0;
  border-top: 1px dotted var(--gaze-color-slate-800);
}
