.man img {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid var(--gaze-color-slate-100);
  border-radius: var(--gaze-radius-md);
}

@media screen and (width >= 92rem) {
  .skip-link {
    display: none;
  }
}
